header {
    background-color: #B6CB5B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 20px; 
    min-height: 80px; 
}


#headerLogo {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#headerLogo h2 {
    font-family: "Neucha", cursive;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#headerLogo .logo {
    width: 40px; 
    padding-left: 15px;
}


#headerText {
    display: flex;
}

#headerText ul {
    display: flex;
    list-style: none;
    gap: 20px; 
    font-family: "Neucha", cursive;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#headerText ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}